<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="login-form">
              <%= render "form"%>
            </div>
        </div>
    </div>
</div>
